<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <link rel="stylesheet" style="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <title>{% block title %}Schoolime{% endblock %}</title>
    {% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script>
        $(document).ready( function() {
            $('.dropdown-toggle').dropdown();
        }); 
    </script>
    {% endblock %}
</head>

<body>
    <div id="header">
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                  
                <a class="brand" href="{% if request.session.loggedin %}/home{% else %}/{% endif %}">Schoolime</a>
                <div class="nav-collapse">
                  {% if request.session.loggedin %}
                  <form class="navbar-search pull-left" action="">
                    <i class="icon-search icon-white"></i> <input type="text" class="search-query span2" placeholder="Search">
                  </form>
                  <ul class="nav pull-right">
                    <li><a href="#">{{ request.session.user.first_name }} {{ request.session.user.last_name }}</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Account <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    {% else %}
                    <ul class="nav pull-right">
                    <li>
                        <a href="/login/">Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        <br>
        <hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr />
        <!-- javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
        {% endblock %}
    </div>
</body>

</html>