
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <link rel="stylesheet" style="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <title>{% block title %}Schoolime{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
        <hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr />
        {% endblock %}
    </div>
</body>

</html>