<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <link rel="stylesheet" style="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" style="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <title>{% block title %}Schoolime{% endblock %}</title>
</head>

<body id="cont">
    <div id="header" class="container">
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <div class="nav-collapse">
                  <a class="brand" href="{% if request.session.loggedin %}/home{% else %}/{% endif %}">Schoolime</a>
                  {% if request.session.schoolime_loggedin %}
                  <form class="navbar-search pull-left" action="">
                    <i class="icon-search icon-white"> </i> <input type="text" class="search-query span2" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
                  </form>
                  {% endif %}
                  <ul class="nav pull-right">
                    {% if request.session.schoolime_loggedin %}
                    <li><a href="/{{ request.session.schoolime_user.user_name}}">{{ request.session.schoolime_user.first_name }} {{ request.session.schoolime_user.last_name }}</a></li>
                    <li class="divider-vertical"> </li>
                    <li class="dropdown" id="account">
                      <a href="#account" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"> </i> Account <b class="caret"> </b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"> </li>
                        <li><a href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                    {% else %}
                    <li><a href="/login/">Login</a></li>
                    <li class="divider-vertical"> </li>
                    <li><a href="/register/">Register</a></li>
                    {% endif %}
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        <div style="padding-top: 60px" align="center">
        {% if request.session.schoolime_loggedin and not request.session.schoolime_user.is_verified %}
        <div class="alert alert-block alert-info">
	        <button class="close" data-dismiss="alert">×</button>
	        <p>Your account has not been verified. Please check your email to verify your account.</p>
	        <p><input onclick="this.disabled=true;" class="btn" id="resend-email" style="width:180px" value="Resend Verification Email"></p>
	    </div>
        {% endif %}
        </div>
        {% endblock %}
    </div>

    <div id="content" class="container">
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer" class="container">
        {% block footer %}
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
              <div class="container">
                <div class="nav-collapse">
                  <ul class="nav pull-left">
                      <li><p class="navbar-text">Schoolime © 2012</p></li>
                  </ul>
                  <ul class="nav pull-right">
                      <li><a href="#">About</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Careers</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Privacy</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Terms</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Help</a></li>
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        {% endblock %}
    </div>

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.django.csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script>
    	$('#resend-email').click( function() {
        	$.ajax({
			    type: "POST",
			    url: "/send-verification-email",
			    success: function(val) {
			    	$('#resend-email').attr('value', 'Verification Email Resent');
			    }
			});	
		});
    </script>
    
    {% block documentLoad %}
	<script>
        $(document).ready( function() {
            $('.dropdown-toggle').dropdown();
        });
    </script>
    {% endblock %}
</body>

</html>