{% extends "base.html" %}
{% block title %}{{ form.first_name.value }} {{ form.last_name.value }}{% endblock %}
{% block content %}
<input id="first_name" type="hidden" value="{{ form.first_name.value }}" />
<input id="last_name" type="hidden" value="{{ form.last_name.value }}" />
<input id="launchProfileModal" type="hidden" data-toggle="modal" data-target="#profileModal" />
<div class="content">
<div class="row">
	<div class="span3">
		Left			
	</div>
	<div class="span6">
		Center
	</div>
	<div class="span3">
		Right
	</div>
</div>
</div>
{% include "modal/profile_modal.html" %}

{% endblock %}

{% block documentLoad %}
	<script>
        $(document).ready( function() {
            $('.dropdown-toggle').dropdown();

			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type)) {
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    }
			});

			$.ajax({
				type: "GET",
				url: "/check-profile",
				success:
					function (isProfile) {
						if(isProfile == "false") {
							$('#launchProfileModal').click();
						}
					}
			});
			
			$('#save').click( function() {
				first_name = $('#first_name').val();
				last_name = $('#last_name').val();
				school = $('#id_school').val();
				concentration = $('#id_concentration').val();
				phone = $('#id_phone').val();
				birthday = $('#id_birthday_year').val() + "-" + $('#id_birthday_month').val() + "-" + $('#id_birthday_day').val();
				about = $('#id_about').val();
				$.ajax({
				    type: "POST",
				    url: "/submit-profile",
				    data: "first_name=" + first_name + ";last_name=" + last_name + ";school=" + school +
				    	 ";concentration=" + concentration + ";phone=" + phone + ";birthday=" + birthday + 
				    	 ";about=" + about,
				    success: function(val) {
				    	$('#profileModal').modal('hide');
				    }
				});	  
				
				return false;      	
	        	
			});
			
	        $("#id_concentration").autocomplete({
	           	source: function(request, response) {
					$.ajax({
						url: "/concentration-lookup",
						dataType: "json",
						data: {
							term : request.term,
							school_id : $('#id_school').val()
						},
						success: function(data) {
							response(data);
						}
					});           
	           	},
	           	selectFirst:true,
	           	minLength:2
	        });
        });

        
    </script>
{% endblock %}