<!-- The problem with html email is the style must be inline to be recognized by mail clients
    In other words, the styles in this email need to be updated with the styles in the website-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>{% block title %}Schoolime{% endblock %}</title>
</head>

<body>
    <div id="header" style="width: 560px">
        {% block header %}
        <div style="width: 560px; margin-bottom: 18px; overflow: visible;">
            <div style="background-color: #3A8F17; background-image: -moz-linear-gradient(top, #41A317, #347C17); background-image: -ms-linear-gradient(top, #41A317, #347C17); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41A317), to(#347C17)); background-image: -webkit-linear-gradient(top, #41A317, #347C17); background-image: -o-linear-gradient(top, #41A317, #347C17); background-image: linear-gradient(top, #41A317, #347C17); background-repeat: repeat-x; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#41A317', endColorstr='#347C17', GradientType=0); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); min-height: 40px; padding-right: 20px; padding-left: 20px;">
              <div style="width: 560px">
                <div style="height: auto">
                  <a style="display: block; float: left; padding: 8px 20px 12px; margin-left: -20px; font-size: 20px; font-weight: 200; line-height: 1; color: #FFFFFF;">Schoolime</a>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        {% endblock %}
    </div>

    <div id="content" style="width: 560px;">
        {% block content %}
            <p style="padding-left:20px; padding-right: 20px; ">Hi {{ first_name }},<br>
                <br>
                Your account has been created. You will be prompted to fill out your profile the first time you log in.<br>
                <br>
                But before that, please activate your account by clicking on the link below:<br>
                {{ link }}<br>
                <br>
                If you have any questions, please refer to our new user guide.<br>
                <br>
                Thanks,<br>
                The Schoolime Team<br></p>
        {% endblock %}
    </div>

    <div id="footer" style="width: 560px">
        {% block footer %}
        <div style="width: 560px; margin-bottom: 18px; margin-left: 0px; overflow: visible;">
            <div style="background-color: #3A8F17; background-image: -moz-linear-gradient(top, #41A317, #347C17); background-image: -ms-linear-gradient(top, #41A317, #347C17); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41A317), to(#347C17)); background-image: -webkit-linear-gradient(top, #41A317, #347C17); background-image: -o-linear-gradient(top, #41A317, #347C17); background-image: linear-gradient(top, #41A317, #347C17); background-repeat: repeat-x; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#41A317', endColorstr='#347C17', GradientType=0); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); min-height: 40px; padding-right: 20px; padding-left: 20px;">
              <div style="width: 560px">
                <div style="height: auto">
                   <p style="padding-top:12px; display: block; line-height: 1; color: #FFFFFF;">Schoolime © 2012</p>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
        {% endblock %}
    </div>
    {% block script %}
        
    {% endblock %}
</body>

</html>