<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <link rel="stylesheet" style="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <title>{% block title %}Schoolime{% endblock %}</title>
</head>

<body>
	
    <div id="content" class="container">
        {% block content %}

        {% endblock %}
        <hr />
    </div>

    <div id="footer" class="container">
        {% block footer %}
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
              <div class="container">
                <div class="nav-collapse">
                  <ul class="nav pull-left">
                      <li><p class="navbar-text">Schoolime © 2012</p></li>
                  </ul>
                  <ul class="nav pull-right">
                      <li><a href="#">About</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Careers</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Privacy</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Terms</a></li>
                      <li><p class="navbar-text"> · </p></li>
                      <li><a href="#">Help</a></li>
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar -->
        {% endblock %}
    </div>
    
    {% block script %}
        <!-- javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script>
            $(document).ready( function() {
                $('#frm_register').validate({
                    rules: {
                      first_name: {
                        required: true,
                        maxlength: 30  
                      },
                      last_name: {
                        required: true,
                        maxlength: 30    
                      },
                      email: {
                        required: true,
                        email: true,
                        remote: "/check-registration/"    
                      },
                      user_name: {
                        maxlength: 30,
                        remote: "/check-registration/"
                      },
                      password: {
                        required: true
                      },
                      password2: {
                        required: true,
                        equalTo: '#id_password'
                      }
                    },
                    messages: {
                        email: {
                            remote: jQuery.format("This email is already in use.")
                        },
                        user_name: {
                            remote: jQuery.format("This username is already in use.")
                        },
                    },
                    highlight: function(label) {
                        $(label).closest('.control-group').addClass('error');
                    },
                    success: function(label) {
                        label
                            .text('OK!').addClass('valid')
                            .closest('.control-group').addClass('success');
                    }
                });
            });
        </script>
    {% endblock %}
</body>

</html>