{% extends "modal/base_modal.html" %}

{% block content %}
<div class="modal fade" id="profileModal">
	<form id="profileForm" class="well" action="" method="post">
		{% csrf_token %}
		<div class="modal-header" style="vertical-align: top">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Getting Started...</h2>
			<p>You've logged in for the first time!<p> 
			<h5>Please fill out a couple of details so we can prepare ourselves, you can always change this info later!</h5>
  		</div>
  		<div class="modal-body">
            <fieldset>
                {% if form.non_field_errors %}
                <div class="alert alert-error">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="control-group">
                	<table width="98%">
                        <tr>
                            <td width="50%" valign="top">
                                <label>Institution</label>{{ form.school }}
                            </td>
                            <td width="50%" valign="top">
                                <label>Field of Study</label>{{ form.concentration }}
                            </td>
                        </tr>
                        <tr height="15"></tr>
                        <tr>
                            <td width="50%" valign="top">
                                <label>Birthday</label>{{ form.birthday }}
                            </td>
                            <td width="50%" valign="top">
                                <label>Phone</label>{{ form.phone }}
                            </td>
                        </tr>
                        <tr height="15"></tr>
                        <tr>
                            <td width="100%" valign="top" colspan="2">
                                <label>About Me</label>{{ form.about }}
                            </td>
                        </tr>
                    </table>

                </div>
            </fieldset>    
  		</div>
  		<div class="modal-footer">
   			<input id="save" class="btn btn-primary" type="submit" value="Save" />
  		</div>
	</form>
</div>
{% endblock %}
