{% extends "base.html" %}

{% block content %}
    <table align="center" width="300">
        <tr>
            <td>
                <div>
                    <form id="frm_login" method="post" action="." class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            <h3>Login</h3>
                            <hr>                       
                            <div class="control-group">
                            	{% if form.non_field_errors %}
	                            <div class="alert alert-error">
	                                <button class="close" data-dismiss="alert">×</button>
	                                {% for error in form.non_field_errors %}
	                                    <p>{{ error|escape }}</p>
	                                {% endfor %}
	                            </div>
                            	{% endif %} 
                           		<table width="97%">
	                                <tr>
	                                    <td>
	                                        <label>Email</label><input id="id_email" type="text" name="email" maxlength="75" />    
	                                    </td>
	                                </tr>
	                                <tr height="15"> </tr>
	                                <tr>
	                                    <td>
	                                        <label>Password</label><input id="id_pw" type="password" name="pw" maxlength="128" />    
	                                    </td>
	                                </tr>
	                            </table>    
                            </div>
                            <div align="right">
                                <input type="submit" name="login" class="btn btn-success" value="Login" />
                                <a href="/register/" name="register" class="btn btn-warning">Register Now</a>
                                {% if next %}
                                <input type="hidden" name="next" value="{{ next }}" />
                                {% else %}
                                <input type="hidden" name="next" value="/home" />
                                {% endif %}
                            </div>
                        </fieldset>
                    </form>
                </div><!-- .span -->
            </td>
        </tr>
    </table>
{% endblock %}