{% extends "base.html" %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table align="center" width="300">
      <tr>
          <td>
              <label for="id_username">Email:</label>
          </td>
          <td width="50%">
              {{ form.username.errors }}
              <input id="id_username" type="text" name="username" maxlength="75" required="True" />
          </td>
      </tr>
      <tr>
          <td>
              <label for="id_password">Password:</label>
          </td>
          <td width="50%">
              {{ form.password.errors }}
              <input type="password" name="password" id="id_password" required="True" />    
          </td>
      </tr>
      <tr>
          <td colspan="2" align="right">
              <input type="submit" value="{% trans 'Log in' %}" />
              <input type="hidden" name="next" value="{{ next }}" />
          </td>
      </tr>
  </table>

</form>
{% endblock %}