{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <table align="center" width="550">
        <tr>
            <td>
                <div>
                    <form id="frm_register" method="post" action="." class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            <h3>Register</h3>
                            <hr>
                            {% if form.non_field_errors %}
                            <div class="alert alert-error">{{ form.non_field_errors }}</div>
                            {% endif %}
                            <div class="control-group">
                                <table width="100%">
                                    <tr>
                                        <td width="50%" valign="top">
                                            <label>First name</label><input id="id_first_name" type="text" name="first_name" maxlength="30" />
                                        </td>
                                        <td width="50%" valign="top">
                                            <label>Last name</label><input id="id_last_name" type="text" name="last_name" maxlength="30" />
                                        </td>
                                    </tr>
                                    <tr height="15"></tr>
                                    <tr>
                                        <td width="50%" valign="top">
                                            <label>User name</label><input id="id_user_name" type="text" name="user_name" maxlength="30" />
                                        </td>
                                        <td width="50%" valign="top">
                                            <label>Email</label><input id="id_email" type="text" name="email" maxlength="75" />
                                        </td>
                                    </tr>
                                    <tr height="15"></tr>
                                    <tr>
                                        <td width="50%" valign="top">
                                            <label>Password</label><input id="id_password" type="password" name="password" maxlength="128" />
                                        </td>
                                        <td width="50%" valign="top">
                                            <label>Password (again)</label><input id="id_password2" type="password" name="password2" maxlength="128" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div align="left">
                                <input type="submit" name="register" class="btn btn-success" value="Register" />
                                {% if next %}
                                <input type="hidden" name="next" value="{{ next }}" />
                                {% else %}
                                <input type="hidden" name="next" value="/home" />
                                {% endif %}
                            </div>
                        </fieldset>
                    </form>
                </div><!-- .span -->
            </td>
        </tr>
    </table>
    
{% endblock %}

{% block documentLoad %}
	<script>
        $(document).ready( function() {
            $('.dropdown-toggle').dropdown();

            $('#frm_register').validate({
                rules: {
                  first_name: {
                    required: true,
                    maxlength: 30  
                  },
                  last_name: {
                    required: true,
                    maxlength: 30    
                  },
                  email: {
                    required: true,
                    email: true,
                    remote: "/check-registration/"    
                  },
                  user_name: {
                    maxlength: 30,
                    remote: "/check-registration/"
                  },
                  password: {
                    required: true
                  },
                  password2: {
                    required: true,
                    equalTo: '#id_password'
                  }
                },
                messages: {
                    email: {
                        remote: jQuery.format("This email is already in use.")
                    },
                    user_name: {
                        remote: jQuery.format("This username is already in use.")
                    },
                },
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                },
                success: function(label) {
                    label
                        .text('OK!').addClass('valid')
                        .closest('.control-group').addClass('success');
                }
            });
        });
    </script>
{% endblock %}
